$white: #ffff;
$blue: #8cbdb9;
$brown: #e09e50;
$darkBlue: #2d3e4e;
$shadow: rgba(0, 0, 0, 0.2);

@mixin transition($args...) {
  transition: $args;
}

.article__heading {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 30px;
}

.article__heading__number {
  padding: 5px 10px;
  font-weight: 700;
  line-height: 1;
  background-color: $brown;
  color: $white;
  border-radius: 18px;
}

.article__line {
  width: 50%;
  border-top: 2px solid $blue;
  background-color: $blue;
  margin-bottom: 16px;

  &.second {
    width: 75%;
    border-top: 2px solid $brown;
    background-color: $brown;
  }
}

.article__date {
  font-style: italic;
}

.article__title {
  font-size: 50px;
  color: $darkBlue;
  margin: 30px 0;

  &::first-letter {
    text-transform: capitalize;
  }

  &.second {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.article__image {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 0.1875rem 1.5rem $shadow;
  margin-bottom: 30px;
}

.article__text {
  text-align: justify;
  margin-bottom: 20px;

  &::first-line {
    text-indent: 3em;
  }

  &::first-letter {
    text-transform: capitalize;
    font-size: 50px;
    line-height: 1;
    color: $darkBlue;
  }
}

.BigCard__button {
  margin: 8px;
}

.little-card-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media only screen and (max-width: 500px) {
  .article__title {
    font-size: 36px;
    padding: 5px;
  }
}
