$white: #ffff;
$gray: #e8eceb;
$blue: #8cbdb9;
$brown: #e09e50;
$darkBlue: #2d3e4e;
$shadow: rgba(0, 0, 0, 0.2);

@mixin transition($args...) {
  transition: $args;
}

#toTop {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none;
  outline: none;
  background-color: $blue; 
  color:$white;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px;

  &:hover {
    @include transition(background-color 0.3s ease);
    background-color: $brown;
  }
}