$white: #ffff;
$gray: #e8eceb;
$blue: #8cbdb9;
$brown: #e09e50;
$darkBlue: #2d3e4e;
$shadow: rgba(0, 0, 0, 0.2);

@mixin transition($args...) {
  transition: $args;
}

.UserLogin {
  padding: 2vw ;
  border: 25px solid $blue;
  border-radius: 50px;
}

.UserLogin > div {
  display: flex;
  flex-direction: column;
  overflow: hidden;  
  text-align: left;
}

.UserLogin h1 {
  text-align: center;
}

.UserLogin input {
  border-radius: 8px;
  padding-left: 0.3vw;
  height: 2.5em;
  margin: 0.4vw 0;
  text-indent: 5px;
}

label {
  cursor: pointer;
}

.UserLogin__button {
  margin: 15px 0;
  display: block;
  width: 100%;
}

.UserLogin__button--register {
  display: inline;
  margin-left: 5px;
  background-color: $darkBlue;
}
