$white: #ffff;
$gray: #e8eceb;
$blue: #8cbdb9;
$brown: #e09e50;
$darkBlue: #2d3e4e;
$shadow: rgba(0, 0, 0, 0.2);

@mixin transition($args...) {
  transition: $args;
}

.UserLogin > * {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  overflow: hidden;
  max-width: 150px;
}

label {
  cursor: pointer;
}

.UserLogin__button {
  display: block;
  margin: 15px 5px;
}
