$white: #ffff;
$gray: #e8eceb;
$blue: #8cbdb9;
$brown: #e09e50;
$darkBlue: #2d3e4e;
$shadow: rgba(0, 0, 0, 0.2);

@mixin transition($args...) {
  transition: $args;
}

.header {
    padding: 30px 0;
    background-color: $blue;
}

.logo {
  margin: 0 auto;
  cursor: pointer;
  outline: none;
}