@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,900;1,400&display=swap');

* {
  box-sizing: border-box;
}

$white: #ffff;
$gray: #e8eceb;
$blue: #8cbdb9;
$brown: #e09e50;
$darkBlue: #2d3e4e;
$shadow: rgba(0, 0, 0, 0.2);
$red: #ff0000;

@mixin transition($args...) {
  transition: $args;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $darkBlue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.home__banner__image {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 0.1875rem 1.5rem $shadow;
}

.card-section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.article-not-found {
  color: $darkBlue;
}

.wrong-search-word {
  color: $brown;
  font-weight: 700;
}

.vh {
  height: 70vh;
}

.error-message {
  color: $red;
  font-size: 0.8rem;
}

.edit-textarea {
  min-width: 80%;
  max-width: 80%;
  min-height: 60px;
  color: $darkBlue;
  font-size: 1em;
  font-family: 'Nunito', sans-serif;
  padding: 8px;
  text-align: left;

  &.body {
    min-height: 200px;
  }
}
