$white: #ffff;
$gray: #e8eceb;
$blue: #8cbdb9;
$brown: #e09e50;
$darkBlue: #2d3e4e;
$shadow: rgba(0, 0, 0, 0.2);

@mixin transition($args...) {
  transition: $args;
}

.nav {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: $darkBlue;
    transition: color 0.2s;
  
    &:last-child {
      margin-right: 0;
    }
  
    &:hover {
      color: $brown;
    }
  }
  
  .selected {
    
    color: $brown;
  }